/*19.12.2016*/
body.site,
.site .body .container{
    background-color: #000;
}
#mainContent{
    background-color: #fff;
    min-height: 750px
}



#cpaMain #logo{
    background-image: url(' ../images/logo.png');
    display: block;
    height: 60px;
    background-repeat: no-repeat;
    font-size: 0;
    padding: 1px;
    margin: 15px 0px;
}

#cpaMain [class*="span"]{
        margin-left: 10px;
}
#cpaMain #menu{
    min-height: 160px;
}
#cpaMain #menu ul li{
    list-style: none;
}

#cpaMain #userInfo{
    padding: 10px 0;
}

#cpaMain #menu ul li.active a{
    color: #fbac2b;
}
#cpaMain #menu ul li a:hover{
    text-decoration: none;
    color: #fbac2b;
}
#userInfo .key,
#cpaMain #menu ul li a{
    color: #fff;
}
#cpaMain #menu ul{
    margin: 0;
}
#userInfo .value{
    color: #91908f;
}

#cpaMain .jk-logout{
    color: #fbac2b
}
#cpaMain #cpaLeft p{
    margin: 0 0 5px;
}

#mainContent{
    position: relative;
}
#mainContent .btn-toolbar{
    position: absolute;
    right: 10px;
}

#cpaMain #mainContent input{
    width: 100%;
}

