/*19.12.2016*/
body.site,
.site .body .container{
    background-color: #000;
}
#mainContent{
    background-color: #fff;
    min-height: 750px
}



#cpaMain #logo{
    background-image: url(' ../images/logo.png');
    display: block;
    height: 60px;
    background-repeat: no-repeat;
    font-size: 0;
    padding: 1px;
    margin: 15px 0px;
}

#cpaMain [class*="span"]{
        margin-left: 10px;
}
#cpaMain #menu{
    min-height: 160px;
}
#cpaMain #menu ul li{
    list-style: none;
}

#cpaMain #userInfo{
    padding: 10px 0;
}

#cpaMain #menu ul li.active a{
    color: #fbac2b;
}
#cpaMain #menu ul li a:hover{
    text-decoration: none;
    color: #fbac2b;
}
#userInfo .key,
#cpaMain #menu ul li a{
    color: #fff;
}
#cpaMain #menu ul{
    margin: 0;
}
#userInfo .value{
    color: #91908f;
}

#cpaMain .jk-logout{
    color: #fbac2b
}
#cpaMain #cpaLeft p{
    margin: 0 0 5px;
}

#mainContent{
    position: relative;
}
#mainContent #btn-toolbar{
    position: absolute;
    right: 10px;
    top: 6px;
}

#cpaMain legend,
.jscustom12{
    width: 98%;
}

.jscustom6{
    width: 50%;
}

.jscustom3{
    width: 25%;
}

.jscustom4{
    width: 33%;
}

.jscustom8{
    width: 66%;
}

.row-fluid [class*="jscustom"] {
    display: block;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
   
}


#cpaMain #mainContent input[type="file"]{
    width: 64% !important;
}
#cpaMain #mainContent textarea,
#cpaMain #mainContent input{
    width: 95%;
}

#cpaMain #mainContent .field3 input{
    width: 92%;
}
#cpaMain #mainContent .field3 select{width: 96%;}
#cpaMain #mainContent .field2 input{
    width: 96%;
}

#cpaMain .jsContents{
    padding: 15px;
}

#cpaMain #mainContent #j-main-container{
    width: 98%;
}

#cpaMain #mainContent .jCustommer #jform_dependent1_birthday,
#cpaMain #mainContent .jCustommer #jform_dependent2_birthday,
#cpaMain #mainContent .jCustommer #jform_dependent3_birthday,
#cpaMain #mainContent .jCustommer #jform_dependent4_birthday,
#cpaMain #mainContent .jCustommer #jform_dependent5_birthday,
#cpaMain #mainContent .jCustommer #jform_tax_expiration_date,
#cpaMain #mainContent .jCustommer #jform_tax_issue_date,
#cpaMain #mainContent .jCustommer #jform_spouse_issue_date,
#cpaMain #mainContent .jCustommer #jform_spouse_expiration_date,
#cpaMain #mainContent .jCustommer #jform_tax_birthday,
#cpaMain #mainContent .jCustommer #jform_userid{
    width: 73%
}